@import "variables/_colors.scss";
@import "variables/_sizes.scss";
@import "partials/_shadows.scss";

.form-input {
    @extend %shadow;
    appearance: none;
}

.form-input-error {
    border-color: $red;
}

.form-error-text {
    color: $red;
    font-size: $font-size-xs;
}
