@import "../styles/base.scss";
@import "~spectre.css/src/_variables.scss";

.table {
    table-layout: fixed;
}

thead th {
    &:nth-child(1) {
        width:60%;
    }
    &:nth-child(2) {
        width:20%;
    }
    &:nth-child(3) {
        width:20%;
    }
    // control box
    &:nth-child(4) {
        text-align: right;
        width: 4*$control-size;
    }
}

tbody td {
    &:nth-child(4) {
        text-align: right;
        width: 4*$control-size;
    }
}

.artifact-row:hover {
    background-color: $secondary-color;
}
