@import "../styles/base.scss";
@import "~spectre.css/src/_variables.scss";

.tile.active {
    background-color: $gray-color-light;
}

.tile:hover {
    background-color: $secondary-color;
}

.divider {
    transform: scale(0.8, 1) translate(-10%,0);
}

.input-group-addon.input-group-addon-sm {
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
}

.form-input.input-share-id {
    cursor: text;
    box-shadow: none;
}
