@import "../styles/base.scss";

.container-login {
    @extend %shadow;
    padding: 1rem;
    border-radius: 0.25rem;
}

.bottom-text {
    text-align: center;
    font-size: 0.75rem;
    color: $light-grey;
    margin-top: 0.25rem;
}

.form-action-row {
    display: flex;
    justify-content: space-between;
}
