@import "../styles/base.scss";
@import "~spectre.css/src/mixins/_clearfix.scss";
@import "~spectre.css/src/mixins/_position.scss";
@import "~spectre.css/src/_variables.scss";
@import "~spectre.css/src/_layout.scss";
@import "~spectre.css/src/utilities/_position.scss";

.dropzone {
    @extend %shadow;
    position: relative;
    text-align: center;
}

.dropzone-icon {
    height: 64px;
    width: 64px;
}

.dropzone-icon-upload {
    @extend .dropzone-icon;
    opacity: 0.3;
}

.file-list {
    @extend %shadow;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.file-list .row {
    @extend .container;
    @extend .my-2;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.total-upload {
    float: left;
    align-self: flex-start;
}

.btn-upload {
    align-self: flex-end;
}

.my-input {
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}
